@font-face {
  	font-family: Yahoo;
  	src: url(fonts/Yahoo.ttf); 
}

@mixin transform($value , $value2) {
  -webkit-transform: translate($value2,$value );
   -moz-transform: translate($value2, $value);
   transform: translate($value2, $value);  
}

html {
	font-family: Yahoo, serif;
	background: #C98887;
	height: 100%;
}

body {
	background: #B3B3B3;
	height:100%;
	width: 100%;
	margin:auto;
}

.form {
	@media screen and (min-width : 320px) {
	 	width: 80%;
	 	height: 80%;
	 }

	 @media screen and (min-width : 1224px) {
	 	width: 40%;
	 	height: 40%;
	 }
	background-color: #C98887;
	border-radius: 20px;
  	z-index: 100;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	@include transform(-50%, -50%); 
}

.shadow {
  -moz-box-shadow:    0px 0px 30px 3px #000000;
  -webkit-box-shadow: 0px 0px 30px 3px #000000;
  box-shadow:         0px 0px 30px 3px #000000;
}

.buttons {
	position: absolute;
	top:30%;
	width: 100%;
	height: 30%;
}

.button {
	text-align: center;
	float: left;
	height: 100%;
	@media screen and (min-width : 320px) {
	 	width: 20%;
	 	border-radius: 30px;
	 	margin-left: 10%;
	}

	@media screen and (min-width : 1224px) {
	 	width: 10%;
	 	margin-left: 20%;
	 	border-radius: 30px;
	}
	
	background-color: #EBEDEB;
	@extend .shadow;
	
	&__text {
		position: relative;
		top: 50%;
		@include transform(-50% , 0px); 
	}

}





.switcher {
    position: relative;
    display: inline-block;
    margin: 1px 10px;
    height: 20px;
    width: 58px;
    z-index: 1;
}

.switcher-off {
    left: 1px;
    width: 33%;
    height: 100%;
}

.switcher-neutral {
    left: 33%;
    width: 33%;
    height: 100%;
}

.switcher-on{
    right: 1px;
    width: 33%;
    height: 100%;
}

.switcher-label {
    position: absolute;
    text-indent: -9999px;
    z-index: 2;
}

.switcher input {
    visibility: hidden;
    position: absolute;
}

.switcher-slider {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 1px rgba(0, 0, 0, 0.3) inset;
    transition: background-color 0.2s linear 0s;
}

.switcher-slider:after {
    transition: left 0.2s linear 0s, right 0.2s linear 0s;
    background: linear-gradient(#D0D0D0, #FDFDFD) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    top: 1px;
    border-radius: 50%;
    height: calc(100% - 2px);
    width: calc(100%/3 - 1px);
    box-shadow: 0 0 1px 1px #f4f4f4 inset, 0 0 3px 1px rgba(0, 0, 0, 0.6);
    left: 33%;
}

.switcher-radio-on:checked  ~ .switcher-slider {
    background-color: #81EA89;
}

.switcher-radio-neutral:checked  ~ .switcher-slider {
    background: #ddd;
}

.switcher-radio-off:checked  ~ .switcher-slider {
    background-color: #ED8282;
}

.switcher-radio-on:checked  ~ .switcher-slider:after {
    left: calc(2*(100%/3));
}

.switcher-radio-neutral:checked  ~ .switcher-slider:after {
    left: calc(1px + 100%/3);
}

.switcher-radio-off:checked  ~ .switcher-slider:after {
    left: 1px;
}


