@font-face {
  	font-family: Yahoo;
  	src: url(fonts/Yahoo.ttf); 
}

$main-color: #f2e8c9;
$blue: #082567;
$red: #B22222;

@mixin transform($value , $value2) {
  -webkit-transform: translate($value2,$value );
   -moz-transform: translate($value2, $value);
   transform: translate($value2, $value);  
}

@mixin shadow($val1, $val2, $val3, $val4, $val5) {
  -moz-box-shadow:    $val1 $val2 $val3 $val4 $val5;
  -webkit-box-shadow: $val1 $val2 $val3 $val4 $val5;
  box-shadow:         $val1 $val2 $val3 $val4 $val5;
}

$font-family: Yahoo, serif;

html {
	background-image: url(/images/stars.gif);
	font-family: $font-family; 
	height: 100%;
}

body {
	height:100%;
	width: 100%;
	margin:auto;
}

.form {
	display: none;
	@media screen and (min-width : 200px) {
	 	width: 80%;
	 	height: 90%;
	 }

	 @media screen and (min-width : 1224px) {
	 	width: 40%;
	 	height: 60%;
	 }

	 
	text-align: center;
	background-color: $main-color;
	border-radius: 20px;
  	z-index: 100;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	@include transform(-50%, -50%); 
  	@include shadow(0px, 0px, 30px, 3px, #000000);
  	
  	input {
		font-size: 20px;
		padding: 6px 0 4px 10px;
		border: 3px solid $blue;
		background: $main-color;
		border-radius: 8px;
  		text-transform: uppercase;
  		width: 25%;
  		@media screen and (min-width : 320px) {
	  		margin-bottom:5%;
		}

		@media screen and (min-width : 1224px) {
	  		margin-bottom:10%;
		}

  	}

  	&__text {

		width: 100%;
  		margin: 3% 1% 3% 1%;
  		
  		&_error {
  			@extend .button__text;
  			height: 3%;
  		}
  	};

  	&__btn {
  		margin: 20px;
  		@media screen and (min-width : 320px) {
	  		height: 20%;
		}

		@media (orientation : landscape) and (max-height : 200px) {
			display: none;
			margit-top: 0px;
	 	}

		@media screen and (min-width : 1224px) {
	  		height: 30%;
		}
		
  		width: 50%;
  		background-color: $blue;
	  	font-size: 12px;
	  	border-radius: 10px;
	  	
	  	display: inline-block;
	  	text-decoration: none;
	  	text-align: center;
	  	color: white;
	  	&:active{
	  		text-decoration: underline;
	  		background-color: $red; 
	  	};

	    @include shadow(0px, 0px, 30px, 3px, #000000);
  	}
}

.buttons {
	position: absolute;
	top:20%;
	width: 100%;
	height: 30%;
	.button {
		text-align: center;
		float: left;
		height: 100%;
		border-radius: 30px;
		@media screen and (min-width : 320px) {
		 	width: 25%;
		 	margin-left: 6%;
		}

		@media screen and (min-width : 1224px) {
		 	width: 10%;
		 	margin-left: 12%;
		}
		
		background-color: $main-color;
		@include shadow(0px, 0px, 30px, 3px, $main-color);

	}
}

.switchers {
	.switcher-group {
		width: 40%;
		display: inline-block;
		margin-left: 10%;
		height: 100%;
		
		.switcher {
			text-align: center;
			display: inline-block;
			width: 25%;
			margin-left: 5%;
			background-color: $main-color;
			@include shadow(0px, 0px, 30px, 3px, $main-color);
			height: 100%;
			border-radius: 50%;
		};

	};
	width: 100%;
	position: absolute;
	top: 60%;
	
	@media screen and (min-width : 320px) {
	 	height: 20%;
	}

	@media screen and (min-width : 1224px) {
	 	height: 30%;
	}
}

.button__text {
	pointer-events:none;
	position: relative;
	top: 50%;
	@include transform(-50% , 0px); 
}

.button__img {
	height: 80%;
}

.active {
	border: 5px solid $red;
}





