@font-face {
  	font-family: Yahoo;
  	src: url(fonts/Yahoo.ttf); 
}

@mixin transform($value , $value2) {
  -webkit-transform: translate($value2,$value );
   -moz-transform: translate($value2, $value);
   transform: translate($value2, $value);  
}

@mixin shadow($val1, $val2, $val3, $val4, $val5) {
  -moz-box-shadow:    $val1 $val2 $val3 $val4 $val5;
  -webkit-box-shadow: $val1 $val2 $val3 $val4 $val5;
  box-shadow:         $val1 $val2 $val3 $val4 $val5;
}

$font-family: Yahoo, serif;

html {
	font-family: $font-family; 
	background: #C98887;
	height: 100%;
}

body {
	background: #B3B3B3;
	height:100%;
	width: 100%;
	margin:auto;
}

.form {
	@media screen and (min-width : 320px) {
	 	min-width: 256px;
	 	width: 80%;
	 	height: 80%;
	 }

	 @media screen and (min-width : 1224px) {
	 	min-width: 490px;
	 	width: 40%;
	 	height: 60%;
	 }
	text-align: center;
	background-color: #C98887;
	border-radius: 20px;
  	z-index: 100;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	@include transform(-50%, -50%); 
  	@include shadow(0px, 0px, 30px, 3px, #000000);
  	input {
  		width: 50%;
  		@media screen and (max-width : 320px) {
	  		margin-bottom:5%;
		}
  	}

  	&__text {
	  	@media screen and (min-width : 1224px) {

		}

		width: 100%;
  		margin: 3% 1% 3% 1%;
  		
  		&_error {
  			margin-top: 3%;
  			height: 3%;
  		}
  	};

  	&__btn {
  		width: 50%;
  		height: 30%;
  		background-color: #EBEDEB;
	  	font-size: 12px;
	  	border-radius: 10px;
	  	margin: 20px;
	  	display: inline-block;
	  	text-decoration: none;
	  	text-align: center;

	  	&:active{
	  		text-decoration: underline;
	  		background-color: red; 
	  	};

	    @include shadow(0px, 0px, 30px, 3px, #000000);
  	}
}

.buttons {
	position: absolute;
	top:30%;
	width: 100%;
	height: 30%;
}

.button {
	text-align: center;
	float: left;
	height: 100%;
	@media screen and (min-width : 320px) {
	 	width: 20%;
	 	border-radius: 30px;
	 	margin-left: 10%;
	}

	@media screen and (min-width : 1224px) {
	 	width: 10%;
	 	margin-left: 20%;
	 	border-radius: 30px;
	}
	
	background-color: #EBEDEB;
	@include shadow(0px, 0px, 30px, 3px, #000000);
	
	&__text {
		position: relative;
		top: 50%;
		@include transform(-50% , 0px); 
	}

}