@charset "UTF-8";
@font-face {
  font-family: Yahoo;
  src: url(fonts/Yahoo.ttf); }
html {
  height: 100%;
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Yahoo, serif; }

.overlay {
  background-color: #777;
  top: 0;
  height: 100%;
  opacity: 0.50;
  position: fixed;
  width: 100%;
  z-index: 99; }

#game, #scoreboard, #main {
  height: 100%; }

.game-screen {
  width: 900px;
  min-width: 900px;
  height: 675px;
  min-height: 675px;
  border: solid;
  border-color: #f2e8c9;
  border-top: 0;
  border-width: 10px;
  margin: auto; }

progress {
  background-color: #082567;
  border: 0;
  height: 18px;
  border-radius: 9px;
  width: 90%; }

/*buttons*/
.btn, .btn_small, .btn_thin, .btn_big, .btn_close {
  background-color: #082567;
  font-size: 12px;
  font-family: Yahoo, serif;
  color: white;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -moz-box-shadow: 0px 0px 30px 3px black;
  -webkit-box-shadow: 0px 0px 30px 3px black;
  box-shadow: 0px 0px 30px 3px black; }
  .btn:hover, .btn_small:hover, .btn_thin:hover, .btn_big:hover, .btn_close:hover {
    text-decoration: underline; }
  .btn:active, .btn_small:active, .btn_thin:active, .btn_big:active, .btn_close:active {
    text-decoration: underline;
    background-color: firebrick; }

.btn_small {
  font-size: 20px;
  height: 60px;
  width: 30%;
  line-height: 60px; }

.btn_thin {
  font-size: 15px;
  height: 40px;
  width: 150px;
  line-height: 40px;
  margin: 0 20px 0; }

.btn_big {
  font-size: 25px;
  height: 80px;
  width: 50%;
  line-height: 80px; }

.btn_close {
  font-size: 10px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 0;
  float: right; }

/* -------------form-----------*/
.gameOverForm {
  background-color: #f2e8c9;
  height: 90%;
  width: 90%;
  padding: 5%;
  border-radius: 20px;
  font-family: Yahoo, serif; }
  .gameOverForm__text {
    width: 100%;
    font-size: 13pt;
    margin: auto;
    height: 30px;
    margin-bottom: 20px; }
    .gameOverForm__text_big {
      width: 100%;
      font-size: 15pt;
      margin: auto;
      height: 30px;
      margin-bottom: 20px; }

.form {
  z-index: 100;
  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  min-width: 360px;
  height: 20%;
  min-height: 200px; }

input {
  font-size: 15px;
  width: 30%;
  padding: 6px 0 4px 10px;
  border: 2px solid #082567;
  background: #f2e8c9;
  border-radius: 8px; }

.info {
  color: white;
  width: 200px;
  height: 675px;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  padding: 20px; }
  .info__bullets__bullet-type {
    width: 100%;
    height: 60px;
    line-height: 50px; }
  .info__bullets__img {
    float: left;
    margin-right: 20px; }
  .info__text {
    margin-bottom: 10px; }
  .info__header {
    font-size: 20px; }
  .info__level {
    height: 20px;
    width: 1px; }

/* menu */
.label {
  margin-right: 20px; }

.menu {
  width: 40%;
  min-width: 600px;
  height: 100%;
  min-height: 700px;
  margin: auto;
  margin-top: 0;
  background-color: #f2e8c9; }
  .menu__item {
    list-style-type: none; }
  .menu__list {
    padding: 0; }
  .menu__image {
    width: 100%;
    margin-left: 30%; }
  .menu__title {
    margin: 20pt;
    color: black;
    font-size: 33px; }
  .menu__table, .menu table {
    width: 90%;
    text-align: left;
    margin: auto;
    border-collapse: collapse; }
    .menu__table th, .menu table th {
      font-size: 20px;
      text-align: center;
      background-color: firebrick;
      color: white; }
    .menu__table td, .menu table td {
      font-size: 17px;
      text-align: left;
      background-color: #f2e8c9;
      padding-left: 15px; }
  .menu__table, .menu td, .menu th {
    border-style: solid;
    border-width: 3px;
    border-color: black; }
  .menu tr:hover td {
    background-color: firebrick; }

.header, .header_blue, .header_game {
  width: 100%;
  color: white;
  font-size: 30px;
  padding: 10px 0px 10px;
  margin-top: 0; }

.header_blue {
  background-color: #082567; }

.header_game {
  background-color: #f2e8c9;
  text-align: left;
  min-width: 820px;
  /* экран игры + рамка*/ }
