   @font-face {
    font-family: Yahoo; /* Гарнитура шрифта */
    src: url(fonts/Yahoo.ttf); /* Путь к файлу со шрифтом */
   }
 
  body {
  	background-color: #000000;
  	background: url(../images/stars.gif);
  }

 .menu {
	width : 40%;
	margin: auto;
	font-family: Yahoo , Arial;
 }

 .menu__item {
	list-style-type: none;
	text-align: center;
 }

 .menu__list {
	padding: 0;
 }

 .btn {
	background: #f2e8c9;
	text-align: center;
	font-size: 12px;
	color: black;
	border-radius: 50px;
	margin: 20px;
	display: inline-block;
	text-decoration: none;
	font-family: Yahoo , Arial;
}

.btn:hover {
	text-decoration: underline;
}

.btn_small {
	font-size: 20px;
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.btn_big {
	font-size: 25px;
	height: 80px;
	width: 50%;
	line-height: 80px;
}

.label {
	background-color: white;
	color: black;
	text-align: center;
	font-size: 30px;
	padding: 10px 0px 10px;
}

.menu__title {
	margin: 20pt;
	color: white;
	text-align: center;
	font-size: 33px;

}

table ,.menu__table {
	width: 90%;
	text-align: left;
	margin: auto;
	border-collapse: collapse;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}

.menu__table th {
	font-size: 20px;
	text-align: center;
	background-color: #6495ED;
}

.menu__table td {
	font-size: 17px;
	text-align: left;
	background-color: #FFF8DC;
	padding-left: 15px;
}


.menu__table th,td{
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

