  @font-face {
    font-family: Yahoo; /* Гарнитура шрифта */
    src: url(fonts/Yahoo.ttf); /* Путь к файлу со шрифтом */
   }

  html {
		height: 100%;
	}
  body {
<<<<<<< HEAD

=======
>>>>>>> 27017b4db05509cfb5f5648c746228b9df580d36
	  	background-color: #000000;
	  	background: url(../images/stars.gif);
	  	margin: 0;
		padding: 0;
		height: 100%;
	  }

 #page {
  	height: 100%;
  }

  .game-screen {
	width: 60%;
	height: 80%;
	margin: 0 0 0 20% ;
	border: solid;
	border-color: #f2e8c9;
<<<<<<< HEAD
	border-top: 0;
=======
>>>>>>> 27017b4db05509cfb5f5648c746228b9df580d36
	border-width: 10px;
}
/* menu */

 .menu {
	width : 40%;
	height: 100%;
	margin: auto;
	margin-top: 0;
	background-color: #f2e8c9;
	font-family: Yahoo , Arial;
 }

 .menu__item {
	list-style-type: none;
	text-align: center;
 }

 .menu__list {
	padding: 0;
 }


.header {
	color: white;
	text-align: center;
	font-size: 30px;
	padding: 10px 0px 10px;
<<<<<<< HEAD
	margin-top: 0;
=======
>>>>>>> 27017b4db05509cfb5f5648c746228b9df580d36
}

.header_blue {
	background-color: #082567;
}

.header_game {
	background-color: #f2e8c9;
	text-align: left;
}

.menu__title {
	margin: 20pt;
	color: black;
	text-align: center;
	font-size: 33px;

}


/*buttons*/

 .btn {
	background-color: #082567;
	text-align: center;
	font-size: 12px;
	color: white;
	border-radius: 10px;
	margin: 20px;
	display: inline-block;
	text-decoration: none;
	font-family: Yahoo , Arial;
}

.btn:hover {
	text-decoration: underline;
}

.btn:active {
	text-decoration: underline;
	background-color: #B22222;
}

.btn_small {
	font-size: 20px;
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.btn_header {
	font-size: 15px;
	height: 40px;
	width: 150px;
	line-height: 40px;
	margin: 0 20px 0;
}

.btn_big {
	font-size: 25px;
	height: 80px;
	width: 50%;
	line-height: 80px;
}

/*scoreboard*/

table ,.menu__table {
	width: 90%;
	text-align: left;
	margin: auto;
	border-collapse: collapse;
}

.menu__table th {
	font-size: 20px;
	text-align: center;
	background-color: #B22222;
	color: white;
}

.menu__table td {
	font-size: 17px;
	text-align: left;
	background-color: #FFF8DC;
	padding-left: 15px;
}


.menu__table th,td{
	border-style: solid;
	border-width: 3px;
	border-color: black;
}



