@font-face {
  	font-family: Yahoo;
  	src: url(fonts/Yahoo.ttf); 
}

$font-family : Yahoo, serif;
$main-color: #f2e8c9;
$blue: #082567;
$red: #B22222;
$green: #33FF00;

html {
  	height: 100%;
  	text-align: center; 
}

body {
  	background: url(../images/stars.gif);
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	font-family: $font-family; 
}

.overlay {
  	background-color: #777;
  	top:0;
  	height: 100%;
  	opacity: 0.50;
  	position: fixed;
  	width: 100%;
  	z-index: 99; 
}

#game, #scoreboard, #main {
  	height: 100%; 
}

/* -------------form-----------*/
.gameOverForm {
  	background-color: $main-color;
  	height: 90%;
  	width: 90%;
  	padding: 5%;
  	border-radius: 20px;
  	font-family: $font-family; 
  	&__text{
  		width: 100%;
  		font-size: 8pt;
  		margin: auto;
  		height: 30px;
  		margin-bottom: 20px; 
	}; 
}

.form {
  	z-index: 100;
  	position: absolute;
  	left: 35%;
  	top: 35%;
  	width: 30%;
  	min-width: 360px;
  	height: 20%;
  	min-height: 200px; 
}

.game-screen {
  	width: 900px;
  	min-width: 900px;
  	height: 675px;
  	min-height: 675px;
  	border: solid;
  	border-color: $main-color;
  	border-top: 0;
  	border-width: 10px;
  	margin: auto; 
}

.info {
  	color: white;
  	width: 200px;
  	height: 675px;
  	float: right;
  	margin-right: 20px;
  	margin-left: 20px;
  	text-align: left;
  	padding: 20px;
  	&__bullets {
  		&__bullet-type{
  			width: 100%;
  			height: 60px;
  			line-height: 50px;
  		};
  		&__img {
  			height: 50px;
  			width: 20px;
  			float: left;
  			margin-right: 20px;
  		};
	  	&__ship {
	  		&__img {
	  			height: 100px;
	  		};
	  	};
  	};
  	&__text {
	  	margin-bottom: 10px;
	};

  	&__header {
  		font-size: 20px;
  	};

  	&__level {
  		height: 20px;
  		width: 1px;
  		background-color: $green;
  	};
}


/* menu */
.label {
  	margin-right: 20px; 
}

.menu {
  	width: 40%;
  	min-width: 600px;
  	height: 100%;
  	min-height: 700px;
  	margin: auto;
  	margin-top: 0;
  	background-color: $main-color; 
  	&__item {
  		list-style-type: none;
  	};

  	&__list {
  		padding: 0;
  	};

  	&__image {
  		width: 100%;
  		margin-left: 30%;
  	};

  	&__title {
  		margin: 20pt;
  		color: black;
  		font-size: 33px;
  	};

  	&__table, table {
  		width: 90%;
  		text-align: left;
  		margin: auto;
  		border-collapse: collapse;
  		th {
  			font-size: 20px;
  			text-align: center;
  			background-color: $red;
  			color: white;
  		};

  		td {
  			font-size: 17px;
  			text-align: left;
  			background-color: $main-color;
  			padding-left: 15px;
		};	
  	};

  	&__table, td, th {
  		border-style: solid;
	  	border-width: 3px;
	  	border-color: black;
  	};

  	tr:hover td{
  		background-color: $green ;
  	}



}

.header {
  	width: 100%;
  	color: white;
  	font-size: 30px;
  	padding: 10px 0px 10px;
  	margin-top: 0; 
}

.header_blue {
	@extend .header;
  	background-color: $blue; 
}

.header_game {
	@extend .header;
  	background-color: $main-color;
  	text-align: left;
  	min-width: 820px;/* экран игры + рамка*/ 
}

/*buttons*/


.btn {
  	background-color: $blue;
  	font-size: 12px;
  	font-family: $font-family;
  	color: white;
  	border-radius: 10px;
  	margin: 20px;
  	display: inline-block;
  	text-decoration: none;
  	text-align: center;
  	&:hover{
  		text-decoration: underline;
  	};
  	&:active{
  		text-decoration: underline;
  		background-color: $red; 
  	};
}

.btn_small {
	@extend .btn;
	$line: 60px;
  	font-size: 20px;
  	height: $line;
  	width: 20%;
  	line-height: $line; 
}

.btn_thin {
	@extend .btn;
	$line: 40px;
	font-size: 15px;
	height: $line;
	width: 150px;
	line-height: $line;
	margin: 0 20px 0; 
}

.btn_big {
	@extend .btn;
	$line: 80px;
  	font-size: 25px;
  	height: $line;
  	width: 50%;
  	line-height: $line; 
}

.btn_close {
  	@extend .btn;
  	$line: 30px;
  	font-size: 10px;
  	line-height: $line;
  	height: $line;
  	width: 30px;
  	border-radius: 20px;
  	margin: 0;
  	float: right; 
}
