html {
  background: #C98887;
  height: 100%; }

body {
  background: #B3B3B3;
  height: 100%;
  width: 100%;
  margin: auto; }

.form {
  background-color: #C98887;
  border-radius: 20px;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 320px) {
    .form {
      width: 80%;
      height: 80%; } }
  @media screen and (min-width: 1224px) {
    .form {
      width: 40%;
      height: 40%; } }

.button {
  position: absolute;
  top: 50%;
  left: 90%;
  background-color: #EBEDEB;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 320px) {
    .button {
      width: 30%;
      height: 60%;
      border-radius: 30px;
      left: 80%; } }
  @media screen and (min-width: 1224px) {
    .button {
      width: 10%;
      height: 10%;
      border-radius: 30px; } }
