@font-face {
  font-family: Yahoo;
  src: url(fonts/Yahoo.ttf); }
html {
  font-family: Yahoo, serif;
  background: #B3B3B3;
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: auto; }

.form {
  text-align: center;
  background-color: #C98887;
  border-radius: 20px;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-box-shadow: 0px 0px 30px 3px black;
  -webkit-box-shadow: 0px 0px 30px 3px black;
  box-shadow: 0px 0px 30px 3px black; }
  @media screen and (min-width: 320px) {
    .form {
      min-height: 250px;
      width: 80%;
      height: 80%; } }
  @media screen and (min-width: 1224px) {
    .form {
      min-height: 300px;
      width: 40%;
      height: 60%; } }
  .form input {
    width: 50%; }
    @media screen and (max-width: 320px) {
      .form input {
        margin-bottom: 5%; } }
  .form__text {
    width: 100%;
    margin: 3% 1% 3% 1%; }
    .form__text_error {
      margin-top: 3%;
      height: 3%; }
  .form__btn {
    width: 50%;
    height: 30%;
    background-color: #EBEDEB;
    font-size: 12px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    -moz-box-shadow: 0px 0px 30px 3px black;
    -webkit-box-shadow: 0px 0px 30px 3px black;
    box-shadow: 0px 0px 30px 3px black; }
    .form__btn:active {
      text-decoration: underline;
      background-color: red; }

.buttons {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 30%; }
  .buttons .button {
    text-align: center;
    float: left;
    height: 100%;
    background-color: #EBEDEB;
    -moz-box-shadow: 0px 0px 30px 3px black;
    -webkit-box-shadow: 0px 0px 30px 3px black;
    box-shadow: 0px 0px 30px 3px black; }
    @media screen and (min-width: 320px) {
      .buttons .button {
        width: 20%;
        border-radius: 30px;
        margin-left: 10%; } }
    @media screen and (min-width: 1224px) {
      .buttons .button {
        width: 10%;
        margin-left: 20%;
        border-radius: 30px; } }

.switchers {
  width: 100%;
  position: absolute;
  top: 60%; }
  .switchers .switcher-group {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    height: 100%; }
    .switchers .switcher-group .switcher {
      text-align: center;
      display: inline-block;
      width: 25%;
      margin-left: 5%;
      background-color: #EBEDEB;
      -moz-box-shadow: 0px 0px 30px 3px black;
      -webkit-box-shadow: 0px 0px 30px 3px black;
      box-shadow: 0px 0px 30px 3px black;
      height: 100%;
      border-radius: 50%; }
  @media screen and (min-width: 320px) {
    .switchers {
      height: 20%; } }
  @media screen and (min-width: 1224px) {
    .switchers {
      height: 30%; } }

.button__text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -moz-transform: translate(0px, -50%);
  transform: translate(0px, -50%); }

.active {
  border: 5px solid red; }
