@font-face {
	font-family: Yahoo; 
	src: url(fonts/Yahoo.ttf); 
}

html {
	height: 100%;
}

body {
	background-color: #000000;
	background: url(../images/stars.gif);
	margin: 0;
	padding: 0;
	height: 100%;
	font-family:Yahoo;
}

#game, #scoreboard, #main{
  	height: 100%;
  	text-align: center;
}

/* -------------form-----------*/
.gameOverForm {
	background-color: #f2e8c9;
	height: 90%;
	width: 90%;
	padding: 5%;
	border-radius:20px;
}

.form {
	position: absolute;
	left: 35%;
	top: 35%;
	width: 30%;
	min-width: 360px;
	height: 20%;
	min-height: 200px;
}

.gameOverForm__text {
	width: 100%;
	font-size:8pt;
	margin:	auto;
	height: 30px;
	margin-bottom: 20px;
}

  .game-screen {
  	width: 900px;
  	min-width: 900px;
  	height: 675px;
  	min-height: 675px;
	border: solid;
	border-color: #f2e8c9;
	border-top: 0;
	border-width: 10px;
	margin: auto;
}
/* menu */


.label {
	margin-right: 20px;
}

 .menu {
	width : 40%;
	min-width: 600px;
	height: 100%;
	min-height: 700px;
	margin: auto;
	margin-top: 0;
	background-color: #f2e8c9;
 }

 .menu__item {
	list-style-type: none;
	text-align: center;
 }

 .menu__list {
	padding: 0;
 }


 .menu__image {
 	width: 100%;
 	margin-left: 30%;
 }

.header {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 30px;
	padding: 10px 0px 10px;
	margin-top: 0;
}

.header_blue {
	background-color: #082567;
}

.header_game {
	background-color: #f2e8c9;
	text-align: left;
	min-width: 820px; /* экран игры + рамка*/
}

.menu__title {
	margin: 20pt;
	color: black;
	text-align: center;
	font-size: 33px;

}

/*buttons*/

 .btn {
	background-color: #082567;
	text-align: center;
	font-size: 12px;
	color: white;
	border-radius: 10px;
	margin: 20px;
	display: inline-block;
	text-decoration: none;
	font-family: Yahoo;
}

.btn:hover {
	text-decoration: underline;
}

.btn:active {
	text-decoration: underline;
	background-color: #B22222;
}

.btn_small {
	font-size: 20px;
	height: 60px;
	width: 20%;
	line-height: 60px;
}

.btn_thin {
	font-size: 15px;
	height: 40px;
	width: 150px;
	line-height: 40px;
	margin: 0 20px 0;
}

.btn_big {
	font-size: 25px;
	height: 80px;
	width: 50%;
	line-height: 80px;
}

/*scoreboard*/

table ,.menu__table {
	width: 90%;
	text-align: left;
	margin: auto;
	border-collapse: collapse;
}

.menu__table th {
	font-size: 20px;
	text-align: center;
	background-color: #B22222;
	color: white;
}

.menu__table td {
	font-size: 17px;
	text-align: left;
	background-color: #FFF8DC;
	padding-left: 15px;
}


.menu__table th,td{
	border-style: solid;
	border-width: 3px;
	border-color: black;
}



