/* -------------form-----------*/
.gameOverForm {
  	background-color: $main-color;
  	height: 90%;
  	width: 90%;
  	padding: 5%;
  	border-radius: 20px;
  	font-family: $font-family;

  	&__text{
  		width: 100%;
  		font-size: 13pt;
  		margin: auto;
  		height: 30px;
  		margin-bottom: 20px;
      &_big {
        width: 100%;
        font-size: 15pt;
        margin: auto;
        height: 30px;
        margin-bottom: 20px; 
      }; 
	 }; 
}

.form {
  	z-index: 100;
  	position: absolute;
  	left: 35%;
  	top: 35%;
  	width: 30%;
  	min-width: 360px;
  	height: 20%;
  	min-height: 200px; 
}

input {
  font-size: 15px;
  width: 30%;
  padding: 6px 0 4px 10px;
  border: 2px solid $blue;
  background: $main-color;
  border-radius: 8px;
};