.info {
	color: white;
	width: 100%;
	float: right;
	border: solid 10px #f2e8c9;
	border-top: 0;
	border-radius: 0 0 30px 30px;
	text-align: left;
	padding: 10px 40px;
	box-sizing: border-box;
	height: 200px;

	* {
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
	}

  	&__bullets {
  		&__bullet-type{
			height: 60px;
			line-height: 50px;
			display: inline-block;
			text-align: center;
			padding: 0 10px;
  		};
  		&__img {
  			float: left;
  		};
		.info__text {
			display: block;
		}
  	};
	&__ship__properties {
		.info__text {
			display: block;
		}
	}
  	&__text {

	  	margin-bottom: 10px;
	};

  	&__header {
  		font-size: 20px;
  	};

  	&__level {
  		height: 20px;
  		width: 1px;
  	};
}


@media (max-width: 990px) {
	.info__ship__properties {
		display: none;
	}
}