@font-face {
  	font-family: Yahoo;
  	src: url(fonts/Yahoo.ttf); 
}

@mixin transform($value1 , $value2) {
  -webkit-transform: translate($value1,$value2);
   -moz-transform: translate($value1, $value2);
   transform: translate($value1, $value2);  
}

$font-family : Yahoo, serif;
$main-color: #f2e8c9;
$blue: #082567;
$red: #B22222;

html {
  	height: 100%;
  	text-align: center; 
}

body {
  	
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	font-family: $font-family; 
}

.overlay {
  	background-color: #777;
  	top:0;
  	height: 100%;
  	opacity: 0.50;
  	position: fixed;
  	width: 100%;
  	z-index: 99; 
}

#game, #scoreboard, #main {
  	height: 100%; 
}

.game-screen {
  	width: 900px;
  	min-width: 900px;
  	height: 675px;
  	min-height: 675px;
  	border: solid;
  	border-color: $main-color;
  	border-top: 0;
  	border-width: 10px;
  	margin: auto;
    border-radius: 0 0 30px 30px; 
}

progress {
    border: 0;
    height: 38px;
    
    width: 90%;
}

progress::-webkit-progress-value {
    background-color: $blue;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    background-color: $main-color;
    border-radius: 20px;
}
progress::-moz-progress-bar {
  background-color: $main-color;
  border-radius: 20px;
}

progress::-moz-progress-value {
  background-color: $blue;
  border-radius: 20px;
}

.centered-text {
  position: relative;
  top: 50%;
  @include transform(0px , -50%); 
}

.info-slide {
  @include transform(0px, -50%);
  width: 110px;
  height: 370px;
  position: absolute;
  left: -90px;
  top: 50%;
  background-color: $main-color;
  border-radius: 0 30px 30px 0;
  &__element {
    left: 5%;
    width: 60%;
    margin: 5%;
    margin-top: 5%;
    img {
      width: 100%;
    }
  }

  .arrow {
    position: inherit;
    font-size: 30px;
    right: 3px;
    top: 50%;
    @include transform(0px, -50%);
  }
}

@import "button";
@import "form";
@import "info-bar";
@import "menu";





