/* menu */
.label {
  	margin-right: 20px; 
}

.menu {
  	width: 40%;
  	min-width: 600px;
  	height: 100%;
  	min-height: 700px;
  	margin: auto;
  	margin-top: 0;
  	background-color: $main-color; 
  	&__item {
  		list-style-type: none;
  	};

  	&__list {
  		padding: 0;
  	};

  	&__image {
  		width: 100%;
  		margin-left: 30%;
  	};

  	&__title {
  		margin: 20px;
  		color: black;
  		font-size: 33px;
  	};

  	&__table, table {
  		width: 90%;
  		text-align: left;
  		margin: auto;
  		border-collapse: collapse;
  		th {
  			font-size: 20px;
  			text-align: center;
  			background-color: $red;
  			color: white;
  		};

  		td {
  			font-size: 17px;
  			text-align: left;
  			background-color: $main-color;
  			padding-left: 15px;
		  };	
   };

  	&__table, td, th {
  		border-style: solid;
	  	border-width: 3px;
	  	border-color: black;
  	};

  	tr:hover td{
  		background-color: $red;
  	};
}

.header {
    height: 100px;  
  	width: 100%;
  	color: white;
  	font-size: 30px;
  	margin-top: 0; 
}

.header_blue {
	@extend .header;
  	background-color: $blue; 
}

.header_game {
	@extend .header;
  padding: 10px 0px 10px;
  height: auto;
	background-color: $main-color;
	text-align: left;
	min-width: 820px;/* экран игры + рамка*/ 
}

.footer {
  width: 40%;
  margin: 0 30%;
  background-color:$main-color;
  position:absolute;
  top:100%;
  height: 100px;
  
  &__element {
    display: inline-block;
    margin-left: 4%;
    width: 20%;
    height:80px;

    a {
      display: inline-block;
      height: 100%;

      img{
        height: 100%;
      }
      
    }

  }
}

